/* Navigation Bar styling */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Change link color on hover */
.nav-links a:hover {
    color: #ff4500; /* or any other color you prefer */
}

/* Add styles for the home section */
#home {
    background-image: url(/images/black-female-wellness.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e03300; /* Darker shade on hover */
}


/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Copyright text styling */
footer p {
    margin: 0;
    font-size: 0.8rem;
}

/* Change link color on hover */
footer a:hover {
    color: #ff4500; /* or any other color you prefer */
}
